img {
    height:auto;
    width:400px;
    display:block;
    margin:auto;
  }
p {
font-size: 25px
}
body {
background-color: black;
color: #FFFFF0;
}
h1 {
text-align: center;
}
p {
text-align: center;
}
a {
    text-decoration: none;
    padding-left: 500px;
}

